.fireIconPanel_LAYOUTID {
    float: right;
    z-index: 100;
    position: relative;
    right: 6%;
}

.fireContent_LAYOUTID {
    width: calc(95% - 4px);
    height: calc(95% - 4px);
    left: calc(0% + 2px);
    top: calc(8.33333% + 2px);
    padding-top: 4%;
    overflow: auto;
    z-index: 99;
}

.fireTd_LAYOUTID {
    text-align: right;
    padding: 0.23076923em;
    border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    white-space: nowrap;
	overflow: auto;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
    font-size: fontVariable;
}

.fireLi_LAYOUTID {
    font-size: fontVariable;
}

.fireP_LAYOUTID {
    font-size: fontVariable;
}

.fireTdLeft_LAYOUTID {
    text-align: right;
    padding: 0.23076923em;
    border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    white-space: nowrap;
	overflow: auto;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
    font-size: fontVariable;
}

.fireThLeft_LAYOUTID {
    text-align: center;
    padding: 0.23076923em;
    border-top: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
    font-size: fontVariable;
}

.fireTh_LAYOUTID {
    text-align: center;
    padding: 0.23076923em;
    border-top: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
    font-size: fontVariable;
}

.fireContainter_LAYOUTID {
    padding: 5%
}


#traffic-light_LAYOUTID {
    position: absolute;
    display:block;
    left: 50%;
    top: 50%; 
    margin-left: -0.75vw;
    margin-top: -2vw;
    background-color:#333;
    width:1.5vw;
    height:4vw;
    border-radius:0.375vw;
        -webkit-transform: rotateZ(90deg); /* Safari */
       transform: rotateZ(90deg); /* Standard syntax */
  }
  
  .red_LAYOUTID {
    -webkit-appearance: none;
    position: relative;
    left: 50%;
    width:1vw;
    height:1vw;
    margin-top: 0.25vw;
    margin-left:-0.5vw;
    background-color: redColor;
    border-radius: 100%;
    display: block;
  }
  
  .yellow_LAYOUTID {
    -webkit-appearance: none;
    position: relative;
    left: 50%;
    width:1vw;
    height:1vw;
    margin-top: 0.25vw;
    margin-left:-0.5vw;
    background-color: amberColor;
    border-radius: 100%;
    display: block;
  }
  
  .green_LAYOUTID {
    -webkit-appearance: none;
    position: relative;
    left: 50%;
    width:1vw;
    height:1vw;
    margin-top: 0.25vw;
    margin-left:-0.5vw;
    background-color: greenColor;
    border-radius: 100%;
    display: block;
  }


  
  .none_LAYOUTID {
    -webkit-appearance: none;
    position: relative;
    left: 50%;
    width:1vw;
    height:1vw;
    margin-top: 0.25vw;
    margin-left:-0.5vw;
    background-color: gray;
    border-radius: 100%;
    display: block;
  }